<article>
  <div>
    <h2 class="title">{{post.title}}</h2>
  </div>

  {{#if post.file_url}}
  <div class="image-preview-single">
    <img src="{{post.file_url}}" alt="Uploaded file" />
  </div>
  {{/if}}

  <div>
    <p class="content">{{post.content}}</p>
  </div>

  <div>
    <p>Created by: {{post.user.name}}</p>
    <p>Created on: {{format_date post.date_created}}</p>
  </div>
</article>

<article>
  <textarea name="Comment area" id="" cols="30" rows="10" placeholder="Add a comment"></textarea>
  <button type="submit">Send</button>
</article>

<p>{{post.id}}</p>
<p>{{user.id}}</p>