<article>
  <div>
    <h2 class="title">{{post.title}}</h2>
  </div>

  {{#if post.file_url}}
  <div class="image-preview-single">
    <img src="{{post.file_url}}" alt="Uploaded file" />
  </div>
  {{/if}}

  <div>
    <p class="content">{{post.content}}</p>
  </div>

  <div>
    <p>Created by: {{post.user.name}}</p>
    <p>Created on: {{format_date post.date_created}}</p>
  </div>
</article>
{{!-- <p class="post-method">{{post.id}}</p> --}}
<article>
  <textarea id="comment" placeholder="Enter comment here..."></textarea>
  <button id="comment-reply">Comment</button></article>

  <script src="/js/commentbox.js"></script>